/* Home */
#home-hero{
    width:100%;
    background-image: url('/images/binovi/BinoviTouch_Mounted_Background.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    padding:50% 50% 0 64px;
}
#home-hero h1{
    margin:-75% 0 0 0;
}
#home-intro{
    padding-bottom:0;
}
#home-intro-1{
    width: 30%;
    float:left;
    margin:16px 10% 0 10%;
}
#home-intro-2{
    width:40%;
    float:left;
    margin-top:32px;
}
#home-intro-2-cta{
    width:100%;
    text-align:center;
    padding:32px 0 64px 0;
}
#home-industries{
    padding:0 64px 32px 64px;
}
.home-industry-wrapper{
    width:33%;
    text-align: center;
    float:left;
    padding:0 32px;
}
#home-industry-performance{

}
#home-industry-development{
    padding-top:32px;
}
#home-industry-rehabilitation{
    padding-top:64px;
}
.home-industry-wrapper h2{
    font-size:40px;
    font-weight:400;
    line-height:64px;
    margin-bottom:16px;
    text-transform: none;
}
.home-industry{
    height:384px;
    position: relative;
    text-align: center;
}
.home-industry h2{
    filter:none !important;
}
.home-industry .polygon{
    position: relative;
    width:100%;
    height:100%;
    clip-path: polygon(0 0, 100% 2vw, 100% 100%, 0 calc(100% - 2vw));
}
.home-industry-rollover{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:var(--eyc-black50);
    display: table;
    opacity:0;
}
.home-industry:hover .home-industry-rollover{
    opacity:1;
}
.home-industry-rollover *{
    color:var(--eyc-white) !important;
}
.home-industry-rollover-text{
    width:100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
    font-weight:400;
    line-height:32px;
    font-style: italic;
    padding:0 32px;
}
.home-industry-link{
    position: absolute;
    bottom:32px;
    right:16px;
}
.home-industry-link span{
    text-align: right;
    font-size:18px;
    font-weight:400;
    font-style: italic;
    line-height:32px;
}
.home-industry-link .fa{
    margin-left:8px;
    font-size:30px;
    line-height:32px;
    position: relative;
    top:3px;
}
.home-product{
    position: relative;
}
.home-product .polygon{
    min-height:480px;
}
.home-product-description{
    width:60%;
    padding: 64px 32px 112px 64px;
    text-align: left !important;
}
.home-product-description.left{
    float:left;
}
.home-product-description.right{
    float:right;
}
.home-product-image{
    width:40%;
    height: 448px;
    position: absolute;
}
.home-product-image.right{
    right:0;
    top:96px;
}
.home-product-image.left{
    left:0;
    top:0;
}
#home-binovi-pro .home-product-image{
    height:384px;
    left:-7.5%;
}
#home-binovi-pro .home-product-image img{
    width:auto;
}
#home-binovi-coach .home-product-image img{
    position:absolute;
    width:auto;
    height:100%;
}
#home-binovi-coach .home-product-image img:first-of-type{
    top:-12px;
    right:272px;
    z-index:4;
}
#home-binovi-coach .home-product-image img:nth-of-type(2){
    top:-6px;
    right:160px;
    z-index: 3;
}
#home-binovi-coach .home-product-image img:last-of-type{
    top:0;
    right:48px;
    z-index: 2;
}
#home-webinar{
    padding-top:64px;
    padding-bottom:96px;
}