#industries-intro{
    padding-top:0;
    position: relative;
    height:600px;
}
#industries-intro img{
    position: absolute;
    top:32px;
}
#industries-title{
    width:50%;
    padding: 16px 64px;
}
#industries-title h1.title-main{
    font-size:64px;
    line-height:72px;
}
.industries-halfwidth{
    width:50%;
    float:left;
}
.industries-block{
    padding:0;
    display:flex;
}
.industries-block-content{
    width:60%;
    padding:0px 64px;
    float:left;
}
.lightbg .industries-block-content{
    float:right;
}
h2.industries-title{
    font-size:72px;
    font-weight:300;
    text-transform: none;
}
.industries-block-image{
    float:left;
    width:40%;
    height:100%;
    box-shadow: 0px 4px 64px var(--eyc-black50);
}
.lightbg .industries-block-image{
    float:right;
    box-shadow: 0px 4px 64px var(--eyc-black25);
}
.industries-block-image img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.industries-case-studies{
    padding:32px 0 64px 0;
    filter:drop-shadow(0 8px 32px var(--eyc-black75));
}
.lightbg .industries-case-studies{
    filter:drop-shadow(0 8px 32px var(--eyc-black50));
}